<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Pestaña para el dólar -->
    <ion-tab-button tab="dolar">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Dólar</ion-label>
    </ion-tab-button>

    <!-- Pestaña de gastos -->
    <ion-tab-button tab="gastos"> 
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <!-- Pestaña para el clima -->
    <ion-tab-button tab="clima">
      <ion-icon name="cloud-outline"></ion-icon>
      <ion-label>Clima</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
</ion-tabs>