:root {
    /* Modo claro */
    --ion-color-primary: #3f51b5;
    --ion-color-primary-contrast: #ffffff;
  
    /* Tus variables personalizadas */
    --background-color: #ffffff;
    --text-color: #000000; /* Texto negro para buen contraste */
  }
  
  .dark-theme {
    /* Modo oscuro */
    --ion-color-primary: #bb86fc;
    --ion-color-primary-contrast: #000000;
  
    --background-color: #121212;
    --text-color: #e0e0e0;
  }
  